*{
padding: 0;
margin: 0;
}

body{
background: #163961;

}

.container-box {

height: 100vh;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
background: radial-gradient(circle, #206893 1%, #163961 40%);
background-size: 100% 100%;
animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

.container-logo{
position: absolute;
margin: auto;
display: flex;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 320px;

}

.logo-soarblue {
width: 320px;
opacity: 1 !important;
}

.container-boton{
position: relative;
width: 200px;
margin: 0 auto;
top: 10px;
}