{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'css/skeleton.css' %}" rel="stylesheet">

<!-- Tarjeta Compartir  -->
<meta property="og:title" content="SOAR BLUE" />
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://soarblue.cl" />
<meta property="og:image" content="static/img/wall.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://soarblue.cl">
<meta name="twitter:title" content="SOAR BLUE">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="static/img/wall.jpg">

{% block title %}
{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>